body { font-family: helvetica, sans-serif;}
.subtitle { color:	#800000 }
#masthead { text-align: center; }
.thumbnail {width: 250px; height: 200px;}
.shadebox{background-color: rgba(0, 0, 0,0.4); border-radius: 8px; color: #FFF;}
